<header>
    <nav>
        <a href="/">home</a>
        <a href="/thunder">/thu</a>
        <a href="/global">/glo</a>
        <a href="/text-board">/text-board</a>
    </nav>
</header>
<style>
    header {
        background-color: #333;
        padding: 10px 0;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        font-weight: bold;
        transition: color 0.3s;
    }
    nav a:hover {
        color: #ddd;
    }
</style>
